<div class="container">
    <h1>My Profile</h1>
    <p><%= gravatar_for @user %></p>
    <p><%= @user.name %></p>
    <p><%= @user.origin %></p>
    <p><%= @user.profile %></p>
</div>

    

            

    
    



